@page "/"
@using HealthMonitor.Dashboard.ViewModels


<div class="covid-summary">
    <TelerikLoader Visible="@(!_isDataLoaded)"
                   Size="@ThemeConstants.Loader.Size.Large"
                   ThemeColor="@ThemeConstants.Loader.ThemeColor.Tertiary"
                   Type="@LoaderType.ConvergingSpinner" />
    @if (_isDataLoaded)
    {
        <div class="summary-cards horizontal">
            <div class="metric-card">
                <h3>Total Positive Cases</h3>
                <p>@(CovidSummary.Positive?.ToString("N0") ?? "N/A")</p>
            </div>
            <div class="metric-card">
                <h3>Total Deaths</h3>
                <p>@(CovidSummary.Death?.ToString("N0") ?? "N/A")</p>
            </div>
            <div class="metric-card">
                <h3>Currently Hospitalized</h3>
                <p>@(CovidSummary.HospitalizedCurrently?.ToString("N0") ?? "N/A")</p>
            </div>
            <div class="metric-card">
                <h3>Total Test Results</h3>
                <p>@(CovidSummary.TotalTestResults?.ToString("N0") ?? "N/A")</p>
            </div>
        </div>
    }
</div>

