@page "/"

<TelerikNotification @ref="NotificationRef" />

<TelerikTileLayout Columns="1"
                   RowHeight="250px"
                   Resizable="true"
                   Reorderable="true">
    <TileLayoutItems>
        <TileLayoutItem HeaderText="">
            <HeaderTemplate>
                <strong>Covid Cases</strong>
            </HeaderTemplate>
            <Content>
                @if (_isDataLoaded)
                {
                    <div class="summary-cards horizontal">
                        <div class="metric-card">
                            <h3>Total Positive Cases</h3>
                            <p>@(_covidSummary?.Positive?.ToString("N0") ?? "N/A")</p>
                        </div>
                        <div class="metric-card">
                            <h3>Total Negative Cases</h3>
                            <p>@(_covidSummary?.Negative?.ToString("N0") ?? "N/A")</p>
                        </div>
                        <div class="metric-card">
                            <h3>Total Deaths</h3>
                            <p>@(_covidSummary?.Death?.ToString("N0") ?? "N/A")</p>
                        </div>
                        <div class="metric-card">
                            <h3>Currently Hospitalized</h3>
                            <p>@(_covidSummary?.HospitalizedCurrently?.ToString("N0") ?? "N/A")</p>
                        </div>
                        <div class="metric-card">
                            <h3>Total Test Results</h3>
                            <p>@(_covidSummary?.TotalTestResults?.ToString("N0") ?? "N/A")</p>
                        </div>
                    </div>
                }
                else
                {
                    <div class="k-display-flex k-align-items-center k-justify-content-center" style="height: 100%;">
                        <TelerikLoaderContainer Visible="@(!_isDataLoaded)" OverlayThemeColor="light" Text="Please wait, loading cases..." />
                    </div>
                }

            </Content>
        </TileLayoutItem>
    </TileLayoutItems>
</TelerikTileLayout>
 