@inherits LayoutComponentBase

<TelerikRootComponent>
    <TelerikAppBar ThemeColor="@(ThemeConstants.AppBar.ThemeColor.Base)">
        <AppBarSection>
            <TelerikButton FillMode="@ThemeConstants.Button.FillMode.Link"
                           Icon="@SvgIcon.Menu"
                           OnClick="@(() => DrawerRef.ToggleAsync())" />
        </AppBarSection>
        <AppBarSpacer Size="var(--kendo-spacing-1)" />
        <AppBarSection>
            <img src="images/healthMonitor_logo.png" alt="App Logo"  />
        </AppBarSection>
        <AppBarSection>
            <h5>Infectious Diseases Tracking </h5>
        </AppBarSection>
        <AppBarSpacer ></AppBarSpacer>
        <AppBarSection>
            <LoginDisplay />
        </AppBarSection>
    </TelerikAppBar>
    <TelerikDrawer Data="@NavigablePages"
                   @bind-Expanded="@DrawerExpanded"
                   MiniMode="true"
                   Mode="@DrawerMode.Push"
                   @ref="@DrawerRef"
                   @bind-SelectedItem="@SelectedItem">
        <DrawerContent>
            <div class="main">
                @Body
            </div>
        </DrawerContent>
    </TelerikDrawer>

</TelerikRootComponent>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

